<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" charset="UTF-8"/>
        </Console>

        <File name="queryLog" fileName="target/api-queries.log" append="false" >
            <PatternLayout pattern="%d{HH:mm:ss.SSS}, [%t], %msg%n" charset="UTF-8"/>
        </File>

        <File name="Method" fileName="target/logs/method-logs/test-execution.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" charset="UTF-8" />
        </File>
    </Appenders>

    <Loggers>
        <Root level="INFO" >
            <AppenderRef ref="Console" />
            <AppenderRef ref="Method" />
        </Root>
        <Logger name="LoggingForceApi" level="all" additivity="false">
            <AppenderRef ref="queryLog"/>
        </Logger>
    </Loggers>
</Configuration>